<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cmslinktomenu" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="999" translate="label">
            <label>CMS Page and Custom/Static Links to menu</label>
            <tab>general</tab>
            <resource>DevBera_CmsLinkToMenu::config_devbera_cmslinktomenu</resource>
            <group id="cms_custom_links" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
                <label>Cms / Custom /Static Links To Menu</label>
                <field id="enable" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" canRestore="1" >
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>                
                <field id="left" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom/Static Links For Left Left Hand</label>
                    <frontend_model>DevBera\CmsLinkToMenu\Block\Adminhtml\Form\Field\CmsPageCustomLinker</frontend_model>
                    <backend_model>DevBera\CmsLinkToMenu\Model\System\Config\Backend\CmsPageCustomLinker</backend_model>
                </field>  
                 <field id="right" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom/Static Links For Right Hand Section</label>
                    <frontend_model>DevBera\CmsLinkToMenu\Block\Adminhtml\Form\Field\CmsPageCustomLinker</frontend_model>
                    <backend_model>DevBera\CmsLinkToMenu\Model\System\Config\Backend\CmsPageCustomLinker</backend_model>
                </field>                
            </group> 
                                           
        </section>
    </system>
</config>
